body {
    margin-left: 15%;
    margin-right: 15%;
}

.container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    /*frame-fr:ocupando o maximo de espaço possivel da pagina*/

}

#header {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;
    text-decoration-line: underline;
    color: #070F18;
    margin-top: 40px;

}

#menu {
    text-align: right;
    margin-top: 49px;
}

a {
    color: black;
    text-decoration: none;
}

#menu ul {
    list-style-type: none;
    /*retira a bolinha*/
    padding: 0;
    margin: 0;

}

#menu li {
    display: inline-block;
    /*os itens ficam lado a lado*/
    margin-left: 20px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #070F18;

}

#buttonCta {
    background-color: #1F7CFF;
    color: white;
    border-radius: 50px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 10px 25px 10px 25px ;


   

}
#headerCta{
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 32px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-top: 100px;

}
#headerCta h1{
    font-family: Poppins;
    font-style: normal;
font-size: 40px;
font-weight: bold;
text-align: left;
margin-top: 60px;


}
#headerImg{
    margin-left: 42px;
 margin-top: 60px;

}
#headerImg{
    height: 100%;
}
.headerLogo{
    text-align: center;
}
#clients{
    margin-top: 50px;
    margin-bottom: 50px;
}
#headerClientText{
    font-family: Poppins;
font-size: 15px;
font-style: normal;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}